.guns{
    margin: 3rem auto;
    width: 100%;
    max-width: 60rem;
    animation: guns-appear 1s ease-out forwards;
    position: relative;
    margin-top: 10rem;
}

.guns ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes guns-appear {
    from {
      opacity: 0;
      transform: translateY(-6rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }